main > .container {
  padding: 70px 15px 20px;
}

.list-group {
  padding: 0;
}

.bt {
  display: flex;
  align-items: center;
}
.container {
  display: flex;
}

.site-index {
  flex: 1;
  word-wrap: break-word; /* Tự động wrap các từ khi cần thiết */
  word-break: break-all; /* Phá vỡ từng từ khi cần thiết */
  overflow-y: auto; /* Tạo thanh cuộn nếu nội dung dài hơn */
  height: 690px;
  padding: 10px;
  background-color: #f5f5f5;
}
/* table */
.table-container {
  margin-top: 4px;
  position: relative;
  max-height: 500px; /* Đặt giới hạn chiều cao của vùng chứa */
  /* overflow-y: auto; */
}
.color-head {
  background: rgb(218, 226, 253);
}
.table th,
td {
  padding: 6px;
  text-align: left;
}
.table.table-hover tbody tr:hover {
  background: rgb(196, 200, 234);
}
.table.table-hover tbody tr.striped:hover {
  background: rgb(196, 200, 234);
}

.table.table-stripe tbody tr:nth-child(even) {
  background: #f6f6f9;
}
/* may cai nut */
button.search-button {
  border: none; /* Xóa viền */
  background: none; /* Xóa nền nếu có */
  padding: 0; /* Xóa khoảng trắng xung quanh nút */
  cursor: pointer; /* Đổi con trỏ chuột thành dấu nhấp */
}

.function a {
  padding-top: 6px;
  color: #9f9f9f;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
.function .nut-them {
  color: #9f9f9f;
  background: inherit;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.function .nut-xoa {
  color: #9f9f9f;
  background: inherit;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.function .loc {
  color: #9f9f9f;
  background: inherit;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.function .nut-re {
  color: #9f9f9f;
  background: inherit;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.function .nut-xuat {
  color: #9f9f9f;
  background: inherit;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.function .nut-back {
  color: #9f9f9f;
  background: inherit;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.function .nut-them:hover {
  background: #9f9f9f;
  color: #0b2c4d;
}
.function .loc:hover {
  background: #9f9f9f;
  color: #0b2c4d;
}
.function .nut-back:hover {
  color: #0b2c4d;
}
.function .nut-xoa:hover {
  background: #9f9f9f;
  color: #e10000;
}
.function .nut-re:hover {
  background: #9f9f9f;
  color: #078f00;
}
.function .nut-xuat:hover {
  background: #9f9f9f;
  color: #00277b;
}

/*Search */
.search-input {
  width: 250px;
  padding: 5px 30px 5px 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  margin-top: 4px;
  margin-right: 4px;
}
.search-icon {
  color: #666;
  margin-right: 20px;
}
/*Form */
.form-label {
  font-size: 15px;
  font-weight: bold;
  color: #374375;
}
/*sidebar */
.sidebar {
  flex-shrink: 0;
  width: 200px; /* Chiều rộng của thanh bên */
  overflow-y: auto; /* Tạo thanh cuộn nếu thanh bên dài hơn */
  max-height: 100%; /* Giữ cho thanh bên không vượt quá chiều cao của màn hình */
  transition: width 0.5s;
  overflow-x: hidden;
  height: auto;
  background: #374375;
  position: relative;
}
.pagination-container {
  position: fixed;
  bottom: 0;
  right: 0;
}

.bt i {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.bt span {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.collapsed .bt span {
  opacity: 0;
}
.logo-container {
  text-align: center;
  margin-bottom: 20px;
  transition: width 0.5s;
}
.container-fluid {
  display: flex;
  height: 100%;
  padding: 0;
}
.navbar {
  padding: 0;
  height: 50px;
  width: 100%;
}
.nav-link:hover {
  background-color: rgba(192, 192, 192, 0.5);
}
.main-content {
  width: calc(100% - 200px);
  height: 740px;
  float: left;
  margin: 0;
  transition: width 0.3s ease;
}

.list-group-item {
  background-color: transparent;
  border: none;
  height: 60px;
  text-align: center;
  padding: 0;
  white-space: nowrap;
}
.thung-rac {
  background-color: transparent;
  border: none;
  height: 60px;
  text-align: center;
  padding: 0;
  white-space: nowrap;
}
.list-groupul {
  position: absolute;
  width: 200px;
  padding: 0;
}
.trash-button {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  align-content: center;
}
.trash-button:hover {
  color: #e10000;
}
.item {
  white-space: nowrap;
}
.list-group-item:hover {
  background-color: rgba(240, 240, 240, 0.5);
}
/* .thung-rac:hover {
  background-color: rgba(255, 173, 173, 0.5);
} */
.logo {
  height: 100px;
  transition: width 0.5s ease;
}

.bt {
  align-items: center;
  text-decoration: none;
  color: white;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.admin-right {
  background: #f5f5f5;
  padding: 0px;
}

.wrapfull {
  background-color: rgb(255, 255, 255);
}
.not-set {
  color: #c55;
  font-style: italic;
}
ul {
  padding: 10px;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  content: "";
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 4px 4px 2px 4px;
  background: transparent;
}

a.asc:after {
  border-bottom: solid 7px #212529;
  border-top-width: 0;
}

a.desc:after {
  border-top: solid 7px #212529;
  border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
  white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.navbar > .container {
  padding: 0;
  margin: 0;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding-top: 7px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 0;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
  outline: none;
}
/*  icon */
.trash {
  color: red;
}
.trash:hover {
  color: darkred; /* Màu khi hover */
}
.edit {
  color: rgb(38, 115, 163);
}
.edit:hover {
  color: rgb(8, 65, 130); /* Màu khi hover */
}
.action-buttons {
  display: flex;
  align-items: center;
}

.action-buttons form {
  margin-right: 2px;
}
