* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}
body {
  display: flex;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.5rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgba(21, 144, 202, 244);
}
.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}
.logo {
  height: 140px;
  padding: 10px;
}
.logo img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}
.sidebar:hover .logo img {
  max-width: 90%;
  top: 20px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
  background: #e0e0e058;
}
.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  white-space: nowrap;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}
.logout {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.logout a {
  overflow: hidden;
}
.content {
  position: relative;
  top: 0;
  width: calc(100% - 250px);
  min-height: 100vh;
  display: flex;
  padding: 10px;
  /* font-size: 80%; */
}
@media only screen and (max-width: 1201px) {
  .content {
    font-size: 12px; /* Giảm kích thước chữ xuống 12px */
  }
}
.dele {
  background-color: #dd1f1f;
  color: white;
  margin: 8px 0;
  border: none;
  text-align: center;
  width: auto;
  padding: 5px;
}
.add {
  background-color: #4a9b44;
  color: white;
  margin: 8px 0;
  border: none;
  text-align: center;
  width: auto;
  padding: 5px;
}
.edit {
  background-color: #518ee9;
  color: white;
  margin: 8px 0;
  border: none;
  text-align: center;
  width: auto;
  padding: 5px;
}

button:hover {
  opacity: 0.8;
}
