* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  position: relative;
  width: 100%;
}

nav {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: linear 0.5s;
}
nav .logo {
  height: 140px;
  padding: 10px;
  top: 10px;
  display: flex;
}
nav.hide {
  width: 0;
}
nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
  align-items: center;
  padding: 10px;
}
.bt {
  border: none;
}
.line_menu {
  width: 100%;
  color: #1e90ff;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 15px;
  transition: linear 0.5s;
  white-space: nowrap;
}
nav ul li a {
  width: 100%;
  color: #1e90ff;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 15px;
  transition: linear 0.5s;
  white-space: nowrap;
}
nav ul li .ten_admin {
  width: 100%;
  color: #000000;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 15px;
  transition: linear 0.5s;
}
.line_menu:hover {
  background: #1e90ff;
  color: white;
}
nav ul li a:hover {
  background: #b0d0f1;
  color: rgb(255, 255, 255);
}
.content {
  position: absolute;
  top: 0;
  left: 230px;
  width: calc(100% - 250px);
  min-height: 100vh;
  display: flex;
  padding: 20px;
  transition: ease-in-out 0.5s;
}
.content.expand {
  width: calc(100%-50px);
  left: 30px;
}
.content h2 {
  font-size: 4.5em;
  color: #1e90ff;
  text-emphasis: uppercase;
}
nav .click_menu {
  position: absolute;
  top: 20px;
  right: -46px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: linear 0.5s;
}
nav .click_menu ion-icon {
  color: #1e90ff;
  font-size: 1.5em;
  transition: linear 0.2s;
}
nav .click_menu:hover {
  background: #1e90ff;
}
nav .click_menu:hover ion-icon {
  color: white;
}

nav.hide {
  width: 0;
}
.sidebar {
  display: flex;
}

nav ul .logout {
  position: absolute;
  bottom: 0;
  width: 90%;
  overflow: hidden;
}

@media only screen and (max-width: 1201px) {
  .content {
    font-size: 12px; /* Giảm kích thước chữ xuống 12px */
  }
}

button:hover {
  opacity: 0.8;
}
